<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Register</ion-title>
    <div class="logo-container">
      <ion-img src="assets/StockMasteerr.png" class="logo"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

  <ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">
        Name and surname
      </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">
      Username
      </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">
        Phone number
      </ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">
        Email
      </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">
        Position
      </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

