<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="logo-container">
        <ion-img src="assets/StockMasteerr.png" class="logo"></ion-img>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="small">
          WELCOME TO STOCKMASTER
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-button expand="full" routerLink="/qr-scanner">Abrir Escáner QR</ion-button>
    </ion-content>
  </ion-content>
